
@{
    ViewBag.Title = "User Portal";
}

@section scripts {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>*@
    <!--Angular Autocomplete-->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/angucomplete-alt/2.5.0/angucomplete-alt.min.js"></script>*@
    <script src="~/Scripts/Index/angular-module.js"></script>
    <script src="~/Scripts/Index/angular-controller.js"></script>
    <script src="~/Scripts/Index/angular-service.js"></script>
    <script src="~/Scripts/Index/angular-directive.js"></script>
}
@*@section styles {
    <link rel="stylesheet" href="~/Content/angucomplete-alt/angucomplete-alt.css">
}*@

<style>
    .thumb {
    width: 34px;
    height: 34px;
    float: none;
    position: relative;
    top: 7px;
    }
    .ui-autocomplete-loading {
        background: white url("../../../Content/Images/ui-anim_basic_16x16.gif") right center no-repeat;
    }
    .btn-primary{
    margin-right: 30px;
    }
    /*.container{
      margin: 20px 0;
    }*/
    /* AngularJS validation */
    /*.angularform input.ng-invalid:not(.ng-pristine) {
        box-shadow: 0px 0px 13px rgba(255, 133, 0, 0.9);
    }

    .error-message {
        padding: 12px;
        color: #c00000;
        background-color: rgba(255, 133, 0, 0.1);
        font-weight: bold;
        border-radius: 0px 0px 14px 14px;
    }*/
    /* app styling */
    form {
        /*padding: 0px 12px 12px 12px;*/
        background-color: #f5f5f5;
        border: 1px solid #cccccc;
        border-radius: 4px;
    }
    /*
    form .wj-control, .form-control, .btn {
        margin-top: 12px;
    }
    form .wj-control {
        width: 100%;
    }*/
</style>

<h2>User Portal</h2>

<div ng-app="userModule" ng-controller="userCtrl" class="form-horizontal">

    @*<div class="container">*@
        <div class="row">
        <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form name="userForm" ng-submit="uploadPic(picFile)" enctype="multipart/form-data">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>Address</th>
                                        <th>Age</th>
                                        <th>Interests</th>
                                        <th>Profile</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in userData">
                                        <td>
                                            {{user.FirstName}}
                                        </td>
                                        <td>
                                            {{user.LastName}}
                                        </td>
                                        <td>
                                            {{user.Address}}
                                        </td>
                                        <td>
                                            {{user.Age}}
                                        </td>
                                        <td>
                                            {{user.Interests}}
                                        </td>
                                        <td>
                                            @*<img src="{{user.PictureFile}}" class="thumb">*@
                                            <img ng-src="{{user.PictureFile}}" class="thumb">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input class="form-control" placeholder="First Name" type="text" name="FirstName" data-ng-model="User.FirstName" required />
                                        </td>
                                        <td>
                                            <input class="form-control" placeholder="Last Name" type="text" name="LastName" data-ng-model="User.LastName" required />
                                        </td>
                                        <td>
                                            <input class="form-control" placeholder="Address" type="text" name="Address" data-ng-model="User.Address" />
                                        </td>
                                        <td>
                                            <input class="form-control" placeholder="Age" type="text" name="Age" data-ng-model="User.Age" required />
                                        </td>
                                        <td>
                                            <input class="form-control" placeholder="Interests" type="text" name="Interests" data-ng-model="User.Interests" />
                                        </td>
                                        <td>
                                            <input class="form-control" type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="10MB" required >
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary addnew pull-right" value="Add User">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
    @*</div>*@

    <hr />

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <td>
                                @Html.Label("Search User:", new { @class = "col-md-2 control-label" })
                                <input class="form-control" type="text" id="userAutoSearch" placeholder="Search..." ng-change="userSearch()"
                                           ng-model="searchVal" /> @*ng-Trim="false"*@                                
                            </td>
                        </tr>
                    </table>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Address</th>
                                <th>Age</th>
                                <th>Interests</th>
                                <th>Profile</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in searchedUserData" ng-show="searchedUserData.length > 0">
                                <td>
                                    {{user.FirstName}}
                                </td>
                                <td>
                                    {{user.LastName}}
                                </td>
                                <td>
                                    {{user.Address}}
                                </td>
                                <td>
                                    {{user.Age}}
                                </td>
                                <td>
                                    {{user.Interests}}
                                </td>
                                <td>
                                    <img ng-src="{{user.PictureFile}}" class="thumb">
                                </td>
                            </tr> 
                            <tr ng-show="searchedUserData.length == 0">
                                <td colspan="6" align="center">
                                    No Results
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br />

</div>

